body {
  background-color: #333;
  color: #fff;
  font-family: 'Ubuntu', sans-serif; }

.panel-default > .panel-heading {
  background-color: #337ab7;
  color: #fff; }

.panel-body {
  color: #333; }

a {
  cursor: pointer; }

.avatar img {
  height: 200px;
  border-radius: 50%;
  border: 10px solid #eee;
  background: #333; }

.activ {
  border-bottom: 7px solid #337ab7; }

#profile {
  display: block; }
.hid{
    display: none;
}
.foot {
  background-color: #337ab7;
  border-color: #080808;
  padding-top: 20px;
  margin-top: 20px;
  display: block;
  bottom: 0; }

.foot ul {
  list-style-type: none; }

.foot li {
  float: right;
  padding: 10px; }

.foot a {
  color: #333; }
